.source {
  color: white;
  font-size: 100px;
}

.title {
  color: grey;
  font-size: 30px;
}

#source1 {

}

#status {
  position: fixed;
  bottom: 50px;
}

#debug {
  position: fixed;
  bottom: 25px;
}





















#foo {

}
