body {
  background-color: black;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.source {
  color: white;
  font-size: 140px;
  font-weight: bold;
}

#status {
  color: grey;
  font-size: 8px;

}

#source1 {

}

#debug {
  hidden: true;
}
