body {
  background-color: grey;
}

@font-face {
  font-family: Dotrice-Regular;
  src: url(font-Dotrice/Dotrice-Regular.otf);
}

canvas {
  border: 2px solid red;
  background-color: black;
}
